.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bird-item {
  border: dotted;
  border-color: goldenrod;
  width: 250px;
}
.book-item {
  border: dotted;
  border-color: darkmagenta;
  width: 250px;
}

.musician-item {
  border: dotted;
  border-color: deeppink;
  width: 250px;
}

.color-item {
  border: dotted;
  border-color: lightseagreen;
  width: 250px;
}

.bird-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.musician-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
